@import "theme";

nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: nth($spacings, 4) nth($spacings, 7);
    transition: background 0.35s;

    .wide {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        @include theme(){
            background: theme(primaryGradient);
        }
        bottom: 0;
        left: 0;
        transition: width .35s;
    }

    a {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 24px;
            height: 3px;
            background: #fff;
            bottom: -3px;
            left: 30%;
            opacity: 0;
            transition: opacity .35s, left .35s;
            transform: translate(-100%,0);
        }

        &:hover, &:active, &:focus {
            &:after {
                opacity: 1;
                left: 80%;
                left: calc(100%);
            }
        }
    }

    &.scrolled {
        background: #000;

        &:after {
            width: 100%;
        }
    }

    .left {
        display: flex;
        align-items: center;

        .logo {
            margin-right: nth($spacings, 4);

            img {
                width: 48px;
            }
        }
    }

    ul {
        li {
            display: inline-block;
            margin: nth($spacings, 3);
        }

        &.nav-links {
            font-weight: map-get($fontWeight, "bold");
            text-transform: uppercase;

            li {
                a {
                    color: #fff;
                }
            }
        }

        &.social-links {
            li {
                span {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    transition: border .25s;

                    img {
                        width: 100%;
                        transition: transform .25s;
                    }
                }

                &:hover, &:focus, &:active {
                    span {
                        border: 2px solid #fff;
                        

                        img {
                            transform: scale(.9);
                        }
                    }
                }
            }
        }
    }

    .mob {
        display: none;
        width:100%;        

        .logo {
            text-align: center;
            img {
                width:64px;
            }
        }

        button {
            position: absolute;
            width: 40px;
            height: 32px;
            background: none;
            border: 0;
            outline: 0;
            box-shadow: none;
            top: 50%;
            top: calc(50% - 16px);
            left: 22px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.sidebar {
    background: #000;
    height: 100%;
    position: relative;
    padding: nth($spacings, 5);
    display: flex;
    flex-direction: column;

    &:after {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        right: 0;
        top: 0;
        @include theme(){
            background: theme(primaryGradient);
        }
    }

    .logo {
        width: 100%;
        text-align: center;

        img {
            width: 64px;
        }
    }

    .nav-links {

        ul {
            height: 100%;
            flex-wrap: nowrap;
            flex: 0 0 auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        li {
            text-align: center;
            margin: 6px 0;
            a {
                display: inline-block;
                color: #fff;
                padding: 6px 0;
            }
        }
    }
}

@media only screen and (max-width: 700px){
    nav{
        .wide {
            display: none;
        }
    
        .mob {
            display: block;
        }
    }
    
}