.rule {
    padding: 6px 12px;
    position: relative;

    .box {
        padding: 24px;
    }

    .number {
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
        background: #faf8f8;
    }

    .content {
        padding-left: 32px;
    }
}

.rules {
    .title {
        text-align: left;
        padding: 48px 0;
    }
}

.page {
    p {
        font-size: 18px;
    }
}